.vscode/
/semana4/testportfolio/
/semana4/graficado/
/semana4/apiRestBasico/
semana5/node_modules/
semana5/turtle/
semana5/nodeDB/
semana5/Platzi_ventas/venv/


semana5/simple_server.js
semana5/README_Python estad.md
semana5/package.json
semana5/package-lock.json
